.nav.nav-underline {
  li {
    a {
      padding: 20px;
      color: #586069;
      border: 0 none transparent;

      &:focus,
      &:hover,
      &:active {
        background-color: transparent;
        border: 0 none transparent;
        color: #24292e;
      }
    }

    &.active {
      a {
        background-color: transparent;
        border: 0 none transparent;
        border-bottom: 2px solid #e36209;
        color: #24292e;
      }
    }
  }
}
