.navbar {
  .navbar-menu {
    .navbar-item {
      img {
        border-radius: $radius-small;
      }

      &.has-badge {
        position: relative;

        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          background-color: $info;
          border-radius: 5px;
          border: 2px solid $white;
        }
      }
    }
  }

  &.is-dark {
    .navbar-menu {
      .navbar-item {
        &.has-badge {
          &:before {
            border-color: $dark;
          }

          &:hover {
            &:before {
              border-color: #292929;
            }
          }
        }
      }
    }

    .field {
      .control {
        .input,
        .button {
          color: $white;
          background-color: $grey-dark;
          border-color: $grey-dark;
          box-shadow: none;
        }

        .button {
          color: $grey;

          &:hover,
          &:focus {
            color: $white;
          }
        }
      }
    }
  }
}
