.navbar {
  .navbar-menu {
    .navbar-item {
      img {
        border-radius: $radius-small;
      }
    }
  }

  &.is-dark {
    .field {
      .control {
        .input,
        .button {
          color: $white;
          background-color: $grey-dark;
          border-color: $grey-dark;
          box-shadow: none;
        }

        .button {
          color: $grey;

          &:hover,
          &:focus {
            color: $white;
          }
        }
      }
    }
  }
}
