.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.button {
  .octicon {
    height: 1.1em;
    width: 1.5em;
    margin-left: 0.1875em;
    margin-right: 0.1875em;

    &:first-child {
      margin-left: calc(-0.375em - 1px);
    }

    &:last-child {
      margin-right: calc(-0.375em - 1px);
    }
  }
}
