.octicon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  height: 0.9rem;
  width: 0.9rem;
}

.button {
  .octicon {
    height: 1.1em;
    width: 1.5em;
    margin-left: 0.1875em;
    margin-right: 0.1875em;

    &:first-child {
      margin-left: calc(-0.375em - 1px);
    }

    &:last-child {
      margin-right: calc(-0.375em - 1px);
    }
  }
}
