.octicon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  height: 1em;
  width: 1em;

  &.is-avatar {
    width: 44px;
    height: 44px;
    padding: 6px;
    border-radius: $radius;
  }

  &.is-success {
    color: $white;
    background-color: $success;
  }
}

.button {
  .octicon {
    height: 1.1em;
    width: 1.5em;
    margin-left: 0.1875em;
    margin-right: 0.1875em;

    &:first-child {
      margin-left: calc(-0.375em - 1px);
    }

    &:last-child {
      margin-right: calc(-0.375em - 1px);
    }
  }
}

.file {
  .file-icon {
    .octicon {
      width: 1rem;
      height: 1rem;
    }
  }
}

.tag {
  .octicon {
    margin-right: 4px;
  }
}
