.well {
  &.well-info {
    margin-top: 20px;

    .well-info-icon {
      padding: 10px 0;
      text-align: center;
    }

    .well-info-message {
      padding: 10px 0;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
  }
}
