== simple_form_for(contract, url: url, method: method, html: {id: id}) do |f|
  = f.input :current_password, input_html: {id: "#{id}-current-password"}
  = f.button :submit, 'Delete account', class: 'is-danger'
