@import "bulma/sass/utilities/initial-variables";

$tabs-link-active-color: $black;
$tabs-link-hover-border-bottom-color: transparent;

$navbar-tab-active-color: $black;
$navbar-tab-hover-border-bottom-color: transparent;
